@model Results

<tr>
    <th scope="row">@Model.ID_Result</th>
    <td>@Model._Name</td>
    <td>@Model.Age</td>
    <td>@Model.State, @Model.Country</td>
    <td>@Model.Profession</td>
    <td>@Model.AgeCategory</td>
    <td>@Model.Division</td>
    <td>@Model.DivRank</td>
    <td>@Model.GenderRank</td>
    <td>@Model.OverallRank</td>
    <td>@Model.Bib </td>
    <td>@Model.T1</td>
    <td>@Model.T2</td>
    <td>@Model.SwimTime</td>
    <td>@Model.SwimDistance</td>
    <td>@Model.BikeTime</td>
    <td>@Model.BikeDistance</td>
    <td>@Model.RunTime</td>
    <td>@Model.RunDistance</td>
    <td>@Model.OverallTime</td>
    <td>@Model.Comments</td>
</tr>